# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtualenv
.venv/
venv/

# Secrets / env
.env
.env.*

# Local DB / artifacts
instance/
*.sqlite
*.db

# Tools cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.logg
